{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}
        <h2>Introduction</h2>
        <p>
            Computer Programming is a one-semester course that will introduce the basic techniques of computer
            programming using the <a href="http://www.python.org">Python</a> programming language. Python is a modern,
            interpreted
            language that is relatively easy to learn, while possessing an astonishing depth and flexibility that make it
            suitable
            for sophisticated applications in business, arts, entertainment, science and engineering.
        </p>
        <p>
            In the first few weeks of this class you will learn the tools and basic skills needed to write
            simple programs in Python. Each week will develop several new skills or techniques that may be required to
            complete a series of challenge assignments. Some of the skills you will learn during this period include:
        </p>
        <ul>
            <li>Interactive mode: expressions, types, variables, collections, dir(), help()</li>
            <li>Console I/O</li>
            <li>Lambda functions</li>
            <li>List comprehensions</li>
            <li>Objects, properties, methods and inheritance</li>
            <li>Conditionals and control flow statements</li>
            <li>Functions</li>
        </ul>
        <p>
            Later in the course you will plan and execute a series of one to two-week long mini-projects
        </p>

        <h2>I Provide You With:</h2>
        <ul>
            <li>Computers with Internet access.</li>
            <li>Python 3.4</li>
            <li>Python Integrated Development Environment: <a href="https://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/lunar">Eclipse Luna</a></li>
            <li><a href="http://pygame.org">Pygame</a> Python game development library.</li>
            <li>Use Google Drive to save your work.</li>
        </ul>

        <h2>If you want to work outside of class:</h2>
        <ul>
            <li>We will be using Python 3.4 during this course. Although this is the latest version that
                you will find available for download, you may notice that some people recommend using
                the older version: 2.7. Don't do it! The 2.x and 3.x versions are different enough 
                that the examples in this course may not work correctly if you are using the older version.
                Python 3.4 has reached a level of maturity and usability (it was released almost six years
                ago!) that make it a great choice for introducing computer programming. </li>
            <li>
                You may install the latest version of the 
                <a href="https://www.eclipse.org/downloads/packages/eclipse-ide-java-ee-developers/lunar">Eclipse Luna</a> 
                on your personal computer. After installation use Help/Install New Software/ to 
				install Pydev for Eclipse from <a href="http://pydev.org/updates">http://pydev.org/updates</a> 
				(don't select Mylin integration). If you are installing to OSX then you will not be able to use
				the latest version of PyDev unless you upgrade Java to a newer version. 
				If you do not upgrade Java then you must check the option to show all PyDev versions and select
				PyDev version 2.8.2 instead.
            </li>
            <li>
                <a href="http://pygame.org">Pygame</a> will be used later in the course, but is not required initially.
                Note: be careful to install the Pygame version that is correct for your operating system and Python
                3.4. Check with me if you are having trouble finding the correct software (I have collected many files
                for installing to Windows and OSX).
            </li>
        </ul>
        <h2>I Expect YOU To:</h2>
        <ul>
            <li>Come to class.</li>
            <li>Be on time. Please let me know if you expect to be late.</li>
            <li>
                Be responsible. If you are absent on a day when work is due I will expect you to have
                it ready the day you return. 
            </li>
            <li>Always treat others with kindness and respect.</li>
        </ul>

        <h2>Textbook</h2>
        <p>
            There isn't one. I will have a couple of reference books on hand during class, but the best resources
            tend to be on the Internet. I expect you to use the Internet as a tool for solving problems and
            learning new techniques. Remember that <em>most</em> of the information you find about Python will
            be tailored for the 2.x version and either may not work or may not be the best approach for Python 3.x.
            Be aware!
        </p>

        <h2>X Periods</h2>
        <p>
            This class has an X period on Thursday. Please check in at the start of class (or make
            arrangements with me in advance). I am required to take and submit attendance for the X! 
            The X is available to you for finishing your work, catching up or getting help.
        </p>
        
        <h2>Academic Honesty</h2>
        <p>
        	All work submitted for credit must be your own. You may discuss the problems 
        	with others, but you must write your own solutions. For each problem, 
        	you must indicate who else you worked with or got any 
        	help from, small or big. 
        	Any written or online sources used (other than examples I have provided) must 
        	also be acknowledged; however, you may not consult any prior solutions to these
        	challenges that you find on the Internet or elsewhere. You may undertake your
        	<strong>final</strong> project with a partner, in which case your submitted 
        	work is expected to be yours or your partner's.
        </p>
        
        
        <table>
            <caption>Classworks and Project Grading</caption>
            <tr>
                <th>Ongoing Challenges</th>
                <td>
                    At the beginning of the semester, each week will bring a series of challenge assignments that you
                    must complete and upload to a web site for automated verification. 
                </td>
            </tr>
            <tr>
                <th>Project Reviews</th>
                <td>
                    Your final project will require planning. You or your team must develop a plan and
                    demonstrate weekly progress towards completion. A well-designed and implemented
                    application represents a substantial amount of work!
                </td>
            </tr>
            <tr>
                <th>Mini Projects</th>
                <td>
                    After the initial introductions you will work on some more substantial projects of your own
                    choosing. For example, graphics programming or game development with Pygame. These will
                    also be uploaded to the course web site, but will not be automatically verified.
                </td>
            </tr>
            <tr>
                <th>Final Project</th>
                <td>This longer project may take up to a full quarter to complete. A final project presentation
                will serve as your final exam in the course.</td>
            </tr>
            <tr>
                <th>Late Work</th>
                <td>
                    All work is subject to being graded once the due date has arrived. Work that is completed
                    <em>or revised</em> after the due date, may be awarded full credit within two weeks of the
                    original due date. <strong>You must inform me by e-mail of updated work or any time you
                    submit late work, as I have no way of knowing what you want me to look at!</strong>
                </td>
            </tr>
        </table>

        <table>
            <caption>Grading</caption>
            <tr>
                <th>Challenges</th>
                <td>2 points for successful completion, 1 point for submission.</td>
            </tr>
            <tr>
                <th>Projects</th>
                <td>5 points for successful completion, with reductions for errors or missing functionality.</td>
            </tr>
            <tr>
                <th>Progress Reports</th>
                <td>2 points for final project progress reports</td>
            </tr>
            <tr>
                <th>Final Project</th>
                <td>Final Project presentation is worth 20% of the semester grade.</td>
            </tr>
        </table>


        
{% endblock %}
