<!DOCTYPE html>
<html>
<head>{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{url_for('static', filename='prettify.css')}}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{url_for('static', filename='prettify.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}" type="text/css" media="screen" />
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <title>{% block title %}{{title}}{% endblock %}</title>
{% endblock %}
</head>
<body onload="prettyPrint()">
  {% block header %}
  <div class='logo'>
  </div>
  <div class='title'>
    <h1>{{title}}</h1>
  </div>
  {% endblock %}
  {% block navigation %}
  <ul class='h-navigation'>
    <li><a href="{{ url_for('site_main') }}">Computer Programming Home</a></li>
    <li><a href="{{ url_for('site_calendar') }}">Assignment Calendar</a></li>
    <li><a href="{{ url_for('site_users') }}">Student List</a></li>
    <li><a href="http://hhs.hanovernorwichschools.org/">HHS Home</a></li>
  </ul>
  {% endblock %}

  {% block subnavigation %}
  {% endblock %}

  {% block sidebarcontainer %}
    <div class='main-sidebar'>
  {% block sidebar %}
    <h2>Summary</h2>
    <p>
        Summary Text
    </p>
    <h2>Purpose</h2>
    <p>
        Purpose Text
    </p>
      <h2>Due Date</h2>
      <p>
        Due date text
      </p>
  {% endblock %}
    </div>
  {% endblock %}

  <div class='main'>
  {% block main %}
    <h2>Assignment</h2>
    <p>
        Assignment Text
    </p>
    <h3>Resources</h3>
      <p>
          Resources Text
      </p>
  {% endblock %}
  </div>
  <div class="footer">
      {% block footer %}
    <h3>About this page...</h3>
    <p>
        This site is written in 100% Python, using the <a href="http://flask.pocoo.org/">Flask</a> web framework.
        &copy; Copyright 2014 by <a href="mailto:eric.dennison@dresden.us">Eric Dennison</a>.
        Site source code is archived on
        <a href="https://github.com/tiggerntatie/hhs-cp-site">Github</a>.
    </p>
    <p>
      <a href="http://www.w3.org/html/logo/">
        <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
      </a>
    </p>
      {% endblock %}
  </div>
</body>
</html>