{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}

        <p>
            The purpose of this challenge is to demonstrate the challenge submission process and to verify that
            the system is working.
        </p>
        <p>
            Write and submit a Python program that asks for the user's name and age, then prints how much older
            Python is than the user. Python is 23 years old now. Something like this:
        </p>
        <pre><code>Please tell me your name: Haley
Please tell me your age: 16
Hello, Haley. Python is 7 years older than you are!</code></pre>
        
{% endblock %}