{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}
        
        <h3>Running Eclipse for the First Time</h3>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/v_YgnVObdPc" frameborder="0" allowfullscreen></iframe>
        <p>
            When you execute Eclipse it will ask you to pick a location for your
            workspace folder. This will be the location where Eclipse will look for your current
            projects. By default, the workspace is placed in your home directory on the HHS computers, 
            which means that its contents will not be backed up to the student server. You <em>should</em>
            use the same computer every day, so that you don't have to repeat the initial setup of 
            Eclipse each time you log in. Using the same computer each day will also ensure that your
            workspace remains exactly as you left it.
        </p>
        <p>
            Don't forget to back up your files regularly! Either copy your work to a flash drive from time
            to time or copy the files to your Documents or Desktop folder where they will be backed up 
            automatically. You can also consider overriding the default workspace folder by placing it 
            directly in your Documents or Desktop folder. 
        </p>

        <h3>Other First Time Tasks: Perspective and Interpreter</h3>        
        <p>
            The very first time you run Eclipse on a computer you have to do some initial setup in order
            to work with Python. If there is a "Welcome" window displayed when you run Eclipse, then you 
            are running it for the 
            first time. Go ahead and close the "Welcome" window.
        </p>
        <p>
            Eclipse is a general purpose tool for doing many different software development tasks, including
            writing Java software. These different tasks are called <em>perspectives</em>. For developing
            Python code you will need to use the PyDev perspective. To open the perspective, do the following:
        </p>
        <ul>
            <li>Navigate to <code>Window/Open Perspective</code></li>
            <li>Choose the option, <code>Other...</code></li>
            <li>Choose the option, <code>PyDev</code> in the list displayed</li>
        </ul>
        <p>
            You should now see a small PyDev button active near the upper right corner of the Eclipse window. 
        </p>
        <p>
            Next you will have to configure Eclipse to use your Python interpreter. Do the following:
        </p>
        <ul>
            <li>Navigate to <code>Eclipse/Preferences</code></li>
            <li>In the list displayed, select/expand <code>PyDev</code>, then select <code>Interpreter - Python</code></li>
            <li>If nothing is displayed in the large edit boxes to the right, then click the "Auto Config" button.</li>
            <li>Click the "Select All" button, then..</li>
            <li>Click "OK", then "OK" again (then start waiting)</li>
        </ul>
        
        <h3>Accessing the console</h3>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/cx__dDMpReo" frameborder="0" allowfullscreen></iframe>
        <p>
            The Python console gives you direct, interactive access to the Python language. The console
            is a great place to test out short snippets of Python code, or investigate the behavior of 
            built-in Python behavior without actually creating full programs. We will use the console
            to introduce some basic Python concepts. To open the console:
        </p> 
        <ul>
            <li>Navigate to <code>Window/Show View/Console</code></li>
            <li>Click on the "Open Console" icon in the upper right corner of the lower console pane.</li>
            <li>Select the PyDev Console.</li>
            <li>Select the Python Console, then click "OK"</li>
        </ul>
        <p>
            Now the console window should display a prompt that looks something like:
        </p>
        <pre class="prettyprint lang-py">>>> import sys; print('%s %s' % (sys.executable or sys.platform, sys.version))
/usr/bin/python 2.7.1 (r271:86832, Aug  5 2011, 03:30:24) 
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2335.15.00)]
>>></pre>
        <p>
            Click to the right of the bottom set of ">>>" brackets. This is where you will do your typing today. 
        </p>
        <h3>By the numbers</h3>
        <p>
            Start by typing some numbers. Press return or enter when you are done with each number. Try typing numbers
            with and without decimal points. You can even enter complex numbers! Each time you type a number, Python 
            creates an <em>object</em> in the computer's memory that represents the number, then it shows you the value.
            Once Python has shown you the value, it throws the number away and forgets all about it!
        </p>
        <p>
            Your window might look something like this (the number with the <strong>j</strong> is imaginary):
        </p>
        <pre class="prettyprint lang-py">>>> 3
Out[3]: 3
>>> 3.
Out[4]: 3.0
>>> 55532235
Out[5]: 55532235
>>> 234234.23423525
Out[6]: 234234.23423525001
>>> 32j
Out[7]: 32j</pre>
        <p>
            If you want to keep your numbers around, you have assign them to variable names using the assignment 
            operator: <strong>=</strong> . This is sort of like using the M+ key on your calculator:
        </p>
        <pre class="prettyprint lang-py">>>> a = 1
>>> b = 23.5
>>> pi = 3.14159
>>> num77 = 77
>>> a
Out[12]: 1
>>> b
Out[13]: 23.5
>>> pi
Out[14]: 3.1415899999999999</pre>
        <p>
            Notice that floating point numbers often aren't <em>exactly</em> the same as what you entered! Integer
            numbers <em>will</em> be exactly what you entered. Variable names must begin with a letter (upper or
            lower case) and can be as long as you like, and may contain underscore characters or numerals (but not
            as the first character). Since there a lot of variable names that you could imagine, this is like having
            as many M+ keys on a calculator as you want.
        </p>
        <h3>Math (ugh)</h3>
        <p>
            As you might expect, Python can actually <em>do things</em> with those numbers.
        </p>
        <pre class="prettyprint lang-py">>>> a*b
Out[44]: 23.5
>>> a*b # multiplication
Out[45]: 23.5
>>> a/b # division
Out[46]: 0.042553191489361701
>>> a//b # integer division
Out[47]: 0.0
>>> b//a
Out[48]: 23.0
>>> (3+5)*pi/43.0 # Parentheses are good too
Out[49]: 0.5844818604651163</pre>
        <h3>Strings (text)</h3>
        <p>
            Python isn't just a calculator. You can create text objects on the fly by typing text, enclosed in either
            single ('), double ("), or triple (""" or ''') quotes. These are called <em>strings</em> (for historical
            reasons, not because they are very stringy):
        </p>
        <pre class="prettyprint lang-py">>>> "Python is named after Monty Python"
Out[19]: 'Python is named after Monty Python'
>>> '''This is text enclosed in a triple single quote!'''
Out[20]: 'This is text enclosed in a triple single quote!'
>>> """Triple quoted text can include quotes in it (like this: ") without confusing Pythons"""
Out[21]: 'Triple quoted text can include quotes in it (like this: ") without confusing Pythons'
>>> myname = "Mr. Dennison"
>>> myname
Out[23]: 'Mr. Dennison'</pre>
       
        <h3>Collections</h3>
        <p>
            One of Python's strengths is that it very good at handling lots of objects at once. One way
            Python lets you do this is by putting objects (like numbers or strings) into <em>lists</em>:
        </p>
        <pre class="prettyprint lang-py">>>> someevens = [2,4,6,8,10,12,14,16,18,20]
>>> somenames = ['Tom', 'Dick', 'Harry']
>>> somelastnames = ['Wilson', 'Smith', 'Jones']</pre>
        <p>
            Once you have a list of things you can pull out individual items from the list, or sections of the list:
        </p>
        <pre class="prettyprint lang-py">>>> someevens[0]
Out[27]: 2
>>> someevens[5]
Out[28]: 12
>>> someevens[0]  # This retrieves the zeroth (or first) item
Out[29]: 2
>>> someevens[5]  # The sixth item (zeroth is first)
Out[30]: 12
>>> someevens[5:7]  # Sixth up to but not including seventh
Out[31]: [12, 14]
>>> someevens[5:]
Out[32]: [12, 14, 16, 18, 20]
>>> someevens[:7]  # Can you figure out what this does?
Out[33]: [2, 4, 6, 8, 10, 12, 14]
>>> someevens[7:5:-1]  # how about in reverse?
Out[34]: [16, 14]</pre>
        <p>
            You can change parts of the list too. Remember <code>somelastnames</code>?:
        </p>
        <pre class="prettyprint lang-py">>>> somelastnames
Out[35]: ['Wilson', 'Smith', 'Jones']
>>> somelastnames[1] = 'Ramalamadingdong'
>>> somelastnames
Out[37]: ['Wilson', 'Ramalamadingdong', 'Jones']</pre>
        <p>
            I can even assign variables to other variables, but it does not make a new copy of the object. Try this:
        </p>
        <pre class="prettyprint lang-py">>>> morelastnames = somelastnames
>>> print(morelastnames)
['Wilson', 'Ramalamadingdong', 'Jones']
>>> print(somelastnames)
['Wilson', 'Ramalamadingdong', 'Jones']
>>> somelastnames[1] = 'Boring'
>>> print(somelastnames)
['Wilson', 'Boring', 'Jones']
>>> print(morelastnames)
['Wilson', 'Boring', 'Jones']</pre>
        <p>
            I made a change to the list object <code>somelastnames</code>, and it changed not only <code>somelastnames</code>,
            it also changed <code>morelastnames</code>! This is because both variables were pointing to the same object.
            So variables are <em>not</em> exactly like a post office box model for computer memory. Different names
            (variables) can quite easily refer to the same object in memory.
        </p>
        <p>
            You may have noticed that I'm not just typing the variable, I am using a <em>function</em> for printing
            the value of these variables or expressions to the screen. When you start writing programs that produce
            text on the screen, you will have to use the <code>print</code> function too.
        </p>
        <h3>Generating lists and list comprehensions</h3>
        <p>
            Now it's time to make some magic with lists! You can use one list to generate another list. Suppose
            I want to generate a list of odd numbers from my list of even numbers:
        </p>
        <pre class="prettyprint lang-py">>>> print(someevens)
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
>>> someodds = [x+1 for x in someevens]
>>> print(someodds)
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21]</pre>
        <p>
            If you need a quick way of generating a list of integers, use the built in range function:
        </p>
        <pre class="prettyprint lang-py">>>> hundred = range(1,100)
>>> print(hundred)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]</pre>
        <p>
            You can zip two lists together and make a list of tiny tuples (a tuple is a special kind of list that can't
            be modified):
        </p>
        <pre class="prettyprint lang-py">>>> evenodd = zip(someevens, someodds)
>>> print(evenodd)
[(2, 3), (4, 5), (6, 7), (8, 9), (10, 11), (12, 13), (14, 15), (16, 17), (18, 19), (20, 21)]</pre>
        <h3>Lambda functions</h3>
        <p>
            If you have a quick mathematical operation that you'd like to repeat with lots of different numbers
            you could make your own function. For example, if I want a quick way to convert degrees Fahrenheit 
            to degrees Celsius:
        </p>
        <pre class="prettyprint lang-py">>>> celsius = lambda f: (f-32.0)/1.8
>>> print(celsius(32))
0.0
>>> print(celsius(70))
21.1111111111</pre>

        <p>
            The statement, <code>lambda</code>, generates a function object in computer memory. The function
            takes a single argument or parameter, which <code>f</code> will point to. The behavior of the
            function is determined by the part following the colon: <code>(f-32.0)/1.8</code>. This will
            perform a little math on whatever argument is passed to the function and return the answer.
            Finally, this new function object will be assigned to the variable, <code>celsius</code>,
            so we can execute the function at any time by writing something like, <code>celsius(100.0)</code>.
        </p>

        <h3>Putting it together</h3>
        <p>
            Suppose I have a list of numbers that represent temperatures in Fahrenheit, and I would like to make
            a new list of the converted temperatures in Celsius. With my new celsius function and the list generating
            idea:
        </p>
        <pre class="prettyprint lang-py">>>> f_temperatures = [32.0, 15.5, -55.3, 62, 36.3]
>>> c_temperatures = [celsius(x) for x in f_temperatures]
>>> print(c_temperatures)
[0.0, -9.1666666666666661, -48.5, 16.666666666666668, 2.3888888888888871]</pre>
        <p>
            You could also use a builtin Python function, <code>map</code>, to do a similar thing:
        </p>
        <pre class="prettyprint lang-py">>>> c = map(celsius, f_temperatures)
>>> print(c)
[0.0, -9.1666666666666661, -48.5, 16.666666666666668, 2.3888888888888871]</pre>
        <h3>Try It!</h3>
        <p>
            Write your own lambda function that does some kind of conversion. Inches to centimeters? Pounds to
            kilograms? Dollars to pennies? Then see if you can convert a list of values like the example above. 
            Can you write a lambda function that accepts two arguments? Can you write one that returns two 
            values? You may have to do some research to figure it out.
        </p>
{% endblock %}