{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}
        
        <p>
            Once you have completed, at minimum, the Conways Life project,
            you have the option of continuing with the game trees projects or
            defining <em>your own project</em>.
        </p>
        <p>
            Before you can begin working on an independent project, you must
            e-mail, share or hand a proposal document to me.
        </p>
        
        <h3>Your Proposal</h3>
        <p>
            Your proposal must answer the following questions:
        </p>
        <ul>
            <li>
                What is the name of your project?
            </li>
            <li>
                Who will be working on the project (you and optionally one 
                partner). Partner projects may submit ONE proposal for both.
            </li>
            <li>
                Describe what the result of your project will look like, or 
                how it will work, <em>from the perspective of someone
                using it</em>.
            </li>
            <li>
                Describe how your project will work, from the point of view
                of the programmer.
            </li>
            <li>
                How will you and I know when your project is finished. Please
                be specific! The project must have hard, measurable performance
                goals that can be verified.
            </li>
            <li>
                What do you (and your partner) need to learn in order to finish
                the project?
            </li>
            <li>
                How many  weeks do you think it will take to finish the project?
            </li>
        </ul>
        <h3>
            Project Idea
        </h3>
        <p>
            Consider writing your own customized client for the
            <a href="http://www.netdenizen.org/mmoss">moderately Multiplayer
                Online Space Shooter, mMOSS</a>. You can download the Python
            <a href="https://launchpad.net/mmoss/trunk/0.0.4/+download/mmoss-20110324-0.0.4.zip">
                source code for version 0.0.4</a> and try it out with PyCharm.
            There is a mMOSS server running on netdenizen.org that you can test
            against.
        </p>

{% endblock %}