{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}
        <h3>Display Objects as Sprites in Pygame</h3>
        <p>
            The term &ldquo;sprite&rdquo; is a throwback to a technology used in older computer graphics systems.
            In the early days, the graphics system allowed the programmer to create small images and set their 
            location and possibly rotation on the screen. The hardware would be responsible for making the sprites
            appear at the desired location. This made the programming problem simple, and was very fast.
        </p>
        <p>
            Pygame is designed to support the <em>idea</em> of sprites, without implementing them in hardware,
            the way the older graphics systems did. Using sprites for objects in Pygame is a useful way of 
            <em>encapsulating</em> the complexity of our programs. 
        </p>
        <p>
            For this example, I have broken up the listing into two sections. The first section is in a file called 
            <code>pygameapp06.py</code> and defines two classes: <code>MyApp</code> and <code>Circle</code>
            (download from <a href="{{url_for('static', filename='exemplars/pygameapp06.py')}}">pygameapp06.py</a>):
        </p>
        <h4><code>pygameapp06.py</code></h4>

        <pre class="prettyprint lang-py">{{ builtins.__import__("inspect").getsource(builtins.__import__("pygameapp06")) }}</pre>
        <pre class="prettyprint lang-py">{{ builtins.file('static/exemplars/pygameapp06.py','r').read() }}</pre>

        <p>
            Let's look at what's going on here that is new:
        </p>
        <ul>
            <li>
                The <code>PygameApp</code> class is almost identical to the example in the 
                <a href="{{url_for('site_assignment', short_name='pygameanimate')}}">last tutorial</a>. The 
                <code class="prettyprint lang-py">__init__</code> method has one extra line, however:
                <code class="prettyprint lang-py">self.spritegroup = pygame.sprite.LayeredDirty()</code>.
                This extra line will create a special type of container object for keeping track of sprites. The 
                type of sprites supported, &ldquo;LayeredDirty&rdquo; refers to the fact that the sprites
                support the idea of layering and efficiency by only redrawing them on the screen when they
                have changed (or are &ldquo;dirty&rdquo; in some way).
            </li>
            <li>
                The second <em>important</em> change in <code>PygameApp</code> is in the <code>run</code> method:
                <code class="prettyprint lang-py">self.spritegroup.clear(self.display, self.background)</code>,
                and <code class="prettyprint lang-py">pygame.display.update(self.spritegroup.draw(self.display))</code>.
                These two lines erase the sprites from their old locations, then redraw them. The fact that these
                are &ldquo;dirty&rdquo; sprites means that this occurs only for the sprites that are actually
                in motion. Stationary sprites will not be cleared or redrawn.
            </li>
            <li>
                The next big difference from the last example is the definition of a completely new class:
                <code>Circle</code>, based on Pygame's <code class="prettyprint lang-py">pygame.sprite.DirtySprite</code>.
            </li>
            <li>
                The Circle class <code>__init__</code> method defines the default characteristics (size, location, etc.)
                of a circle.
            </li>
            <li>
                The <code>update</code> method is called any time a circle is redefined or resized or relocated. The
                method generates a new drawing surface for the circle, fills it with transparent background color
                and draws a circle on it. The <code class="prettyprint lang-py">self.rect = self.image.get_rect()</code>
                code creates a rectangle that represents the location of the circle on the window's drawing surface and
                <code class="prettypring lang-py">self.rect.center = self.pos</code> positions it on the screen. Note 
                that the circle can be drawn as an outline only, or as a filled circle.
            </li>
            <li>
                Most of the remaining <code>Circle</code> methods are short &ldquo;setter&rdquo; methods for setting
                various attributes of the circle (radius, color, style, etc.). The final method, <code>copy</code> is
                written to make it easy to make a new <code>Circle</code> object that is a copy of another.
            </li>
        </ul>
        <p>
            So far, the code is pretty generic. There is an application that only displays sprites and has a big
            loop and there is a Circle class that knows how to draw circles in Pygame. Neither of these classes
            will do much on their own, so we tie it all together with the <code>MyApp</code> class in the next file
            (download from <a href="{{url_for('static', filename='exemplars/pygame06.py')}}">pygame06.py</a>):
        </p>
        <h4>pygame06.py</h4>
        <pre class="prettyprint lang-py">{{ builtins.file('static/exemplars/pygame06.py','r').read() }}</pre>
        <pre class="prettyprint lang-py">{{ builtins.__import__("inspect").getsource(builtins.__import__("pygame06")) }}</pre>

        <p>
            Once again, let's hit the highlights of the file:
        </p>
        <ul>
            <li>
                The file contains only one class: <code>MyApp</code>. The <code>__init__</code> method turns
                on Pygame's key repeat feature (which is disabled by default), sets a background color for the window
                and creates a single <code>Circle</code> object with
                <code class="prettypring lang-py">self.circ = Circle(self.spritegroup)</code>. The reference to 
                <code>self.spritegroup</code> means that the circle is automatically inserted in the application's
                sprite collection, guaranteeing that it will be displayed on the screen.
            </li>
            <li>
                The <code>handle_event</code> method checks for mouse movement, button and scroll events, and looks
                for up or down cursor key events. If the mouse moves (MOUSEMOTION) then the circle object's 
                position is updated to match the mouse position. If the mouse scroll buttons are activated
                (MOUSEBUTTONDOWN, event.button == 4 or event.button == 5), then the circle radius is increased
                or decreased. If the main mouse button is pressed (MOUSEBUTTONDOWN, event.button == 1) then 
                a copy of the original circle is made with <code class="prettyprint lang-py">newcirc = self.circ.copy()</code>,
                its color and thickness are changed. The call to <code>update</code> will seal the deal. Just for fun,
                the keyboard UP and DOWN keys are also detected and used to shift the circle position.
            </li>
            <li>
                Note that when you press the main mouse button and make a circle copy, the <code>self.circ.copy()</code> 
                method not only copies the original circle, but also adds it to the same sprite groups that the original
                circle is in.
            </li>
        </ul>
        <p>
            As usual, copy this code into PyCharm and <strong>try it out</strong>. Remember to create
            <strong>two</strong> source
            files instead of the usual one. You should experiment with changes to the <code>MyApp</code> class, 
            but you may be able to leave the other file completely alone. When you start working on the Pygame
            sprites project you may use the definitions for <code>PygameApp</code> and <code>Circle</code> that 
            I have provided here. If you use these files <em>verbatim</em> then you don't even have to submit them 
            to me with your work. If you do use these files in your own assignments, but make some changes to them 
            then you should put all of the class definitions in a <em>single</em> file before submitting.
        </p>
{% endblock %}