{% extends "site.html" %}
{% block sidebarcontainer %}{% endblock %}
{% block main %}
        <h3>Introducing Pygame</h3>
        <p>
            <a href="http://www.pygame.org/wiki/about">Pygame</a> is a collection of Python modules that make it
            relatively easy to design games that run on Windows, Mac and Linux computers. The fact that Pygame
            is for gaming is NOT the reason we will be using it in the weeks ahead. Modules that enable gaming
            DO happen to be well adapted to writing graphics-oriented programs, which IS the reason we will be using
            it!
        </p>
        <h3>Installing Pygame</h3>
        <p>
            <strong>If you are using one of the lab computers then they have already had Pygame installed on them and
            are &ldquo;ready to go.&rdquo;</strong> If you are using your own Windows or Mac computer to work at home, then
            you will have to install Pygame yourself. Although Pygame supports Python version 3, full installer
            support has not caught up with it yet. See me for detailed installation instructions and files.
        </p>
        <p>
            If you are installing Pygame to your Linux computer then you should be able to use your distribution's
            package manager to install it. For example, under Ubuntu you could open the terminal application and type:
        </p>
        <pre><code>sudo apt-get install python3-pygame</code></pre>
        <p>
            Python is GPL-licensed, open source and completely free for you to download and install on your computer.
        </p>

        <h3>Testing Pygame</h3>
        <p>
            Assuming you have Pygame installed on your computer, you should test the installation by running
            a do-nothing &ldquo;hello, world&rdquo; application:
        </p>
        
        <pre class="prettyprint lang-py">{{ builtins.open("./hhscp/static/exemplars/pygamehello1.py").read() }}</pre>
        
        <p>
        	You can download this from <a href="{{url_for('static', filename='exemplars/pygamehello1.py')}}" download>pygamehello1.py</a>
        </p>    
        <p>
        	When you execute this, a dialog should pop up that looks something like this:
       	</p>
       	<div><img src="{{url_for('static', filename='pygamehello1.png')}}"/></div>
        <p>
            There are a few things in this example that may not be familiar:
        </p>
        <ul>
            <li>
                The line <code class="prettyprint lang-py">from pygame.locals import *</code> loads some common Pygame constants so that
                you can use them without prefacing them with <code>pygame.</code>. All of the values defined
                in <code class="prettyprint lang-py">pygame.locals</code> are upper-case, so you won't confuse them 
                with your own variables and classes. 
            </li>
            <li>
                <code class="prettyprint lang-py">pygame.init()</code> <em>must</em> be called before you can use 
                the Pygame library.
            </li>
            <li>
                <code class="prettyprint lang-py">displaysurface = pygame.display.set_mode((600,200))</code> creates
                a graphics window on your screen. The width and height of the window are passed in as a tuple to set_mode.
                Width and height are specified in units of pixels. You can also specify arguments that force the window
                to be full screen. The set_mode function returns a Pygame surface object that will be used to
                represent the writable surface of the graphics window.
            </li>
            <li>
                <code class="prettyprint lang-py">pygame.display.update()</code> refreshes the physical screen.
            </li>
            <li>
                <code class="prettyprint lang-py">for event in pygame.event.get():</code> retrieves a list of 
                event objects that represent things like keypresses, mouse and joystick movements. 
            </li>
        </ul>
        <p>
            This program only creates a graphic window and then listens to events from the user until the window
            is closed (<code class="prettyprint lang-py">if event.type == QUIT</code>). Note that the <code>QUIT</code>
            constant is one of the special upper-case constants loaded from pygame.locals.
        </p>
        <p>
            Try copying this code to Eclipse and testing it out.
        </p>
        <h3>Wait.. This Looks a Little Ugly</h3>
        <p>
            Python and Pygame are not a &ldquo;toy&rdquo; tool for developing graphics software. They are a tool with
            considerable depth and flexibility that can be used to develop some surprisingly capable programs. One
            of the tasks that lies ahead of us is figuring out a design pattern for using Pygame that we can use in all 
            of our graphics programs. The goal here is to <em>wrap</em> or <em>encapsulate</em> some of Pygame's 
            complexity so that we won't have to worry about <em>all</em> the gory details every time we write a little
            program.
        </p>
        <h3>Hello World, Take Two</h3>
        <p>
            Since the last example was pretty boring, let's add something with a little more interest: colorful 
            geometric shapes. Before we can talk about that we have to talk about colors and coordinates.
        </p>
        <h4>Colors</h4>
        <p>
            In the computer world, colors are often defined as a combination of red, green and blue. The amount
            of each component color is an integer with values between 0 and 255 (the biggest positive integer
            that can be expressed with 8 binary digits). To specify a complete color you just string the three
            integers (red, green and blue) together in a tuple. For example: (60,200,100).
        </p>
        <p>
            Colors may also have a fourth number, called &ldquo;alpha&rdquo;, which says how <em>transparent</em> the
            color is. For example: (60,200,100,25). An alpha value of zero is totally transparent, while a value of
            255 is totally opaque. Values in between are semi-transparent.
        </p>
        <p>
            Although you can use ordinary tuples to define colors in Pygame, Pygame also comes with a Color class
            to help you along. For example: <code>pygame.Color('red')</code> will create a Pygame color object that
            is equivalent to the tuple: (255,0,0). See the Pygame <a href="http://www.pygame.org/docs/">documentation</a>
            for more information.
        </p>
        <h4>Coordinates</h4>
        <p>
            Graphics objects and images are placed on the Pygame window by specifying coordinates in the window. The
            coordinate system used in Pygame is similar to the Cartesian system that you are familiar with in 
            mathematics. Locations are specified as pairs of integers (in a tuple), where the first number in the
            tuple is the horizontal position and the second number is the vertical position. This would be 
            <em>exactly</em> like the Cartesian system if it weren't for an ancient quirk of graphics hardware: 
            the vertical axis is upside down.
        </p>
        <p>
            <strong>The origin of the Pygame window coordinate system is the upper left hand corner of the window, 
            surface or screen.</strong> The horizontal axis is positive to the right and negative to the left, while the
            vertical axis is positive <em>going down</em> and negative <em>going up</em>.
        </p>
        <p>
            Let's see how this works in our next example (don't forget to run it on your own!):
        </p>
        
        <pre class="prettyprint lang-py">{{ builtins.open("./hhscp/static/exemplars/pygamehello2.py").read() }}</pre>
        
        <p>
        	You can download this from <a href="{{url_for('static', filename='exemplars/pygamehello2.py')}}" download>pygamehello2.py</a>
        </p>    
        
        <p>
        	When you execute this, a dialog should pop up that looks something like this:
       	</p>
       	<div><img src="{{url_for('static', filename='pygamehello2.png')}}"/></div>
         <p>
            Let's look at some of the highlights:
        </p>
        <ul>
        	<li>
        		<code class="prettyprint lang-py">WHITE = pygame.Color('white')</code> and the three lines
        		following are simply creating some Pygame color objects to represent common colors. Instead
        		of specifying colors with text (e.g. 'white') we could have used tuples to specify 
        		the individual components. For example, 'white' would be: <code>(255, 255, 255)</code>
        	</li>
            <li>
                <code class="prettyprint lang-py">drawsurface = displaysurface.copy()</code> makes a copy
                of the main window display surface for us to draw on. This surface will have the exact same
                dimensions as the visible window.
            </li>
            <li>
            	<code class="prettyprint lang-py">drawsurface.set_colorkey(BLACK)</code> will make any 
            	black colors drawn on the surface appear transparent. This means that the actual color
            	black should be avoided (very dark gray can substitute). 
            </li>
            <li>
                <code class="prettyprint lang-py">displaysurface.fill(BLACK)</code> fills the main display surface
                with a solid color (like a paintbucket fill in Photoshop). The following line also fills the
                <code>drawsurface</code> with black (which the <code>set_colorkey</code> function has dictated
                will appear transparent, in preparation for drawing a shape.
            </li>
            <li>
                <code class="prettyprint lang-py">pygame.draw.rect(drawsurface, WHITE, pygame.Rect(20,20,200,300))</code>
                draws a rectangle (pygame.draw.rect) to the drawing surface (drawsurface) using a white
                color (WHITE). The last argument to pygame.draw.rect is a new Rect object
                that specifies a rectangular region of the alphasurface. The four arguments to the pygame.Rect
                constructor are the x and y coordinates of the upper left-hand corner of the rectangle, followed
                by the width and height of the rectangle. In this example, the drawn rectangle will have its upper
                left-hand corner start at the (20,20) point, will be 200 pixels wide and 300 pixels high. 
            </li>
            <li>
            	<code class="prettyprint lang-py">drawsurface.set_alpha(100)</code> will make the entire drawing
            	surface semi-transparent. The number (100) shows how transparent the surface should be. A zero 
            	would be completely transparent (also known as "invisible") and 255 would be completely opaque.
            	Remember, the BLACK portions of the surface are already completely invisible, so those parts are
            	not affected.
            </li>
            <li>
            	<code class="prettyprint lang-py">displaysurface.blit(drawsurface,(0,0))</code> copies the image 
            	from the drawsurface to the display surface. The tuple (0,0) tells you where on the destination
            	surface the copy will be made. Since the displaysurface and drawsurface are the same size, the 
            	simple destination choice is the upper left hand corner of the window (0,0). The term "blit" goes
            	back to the early days of computer graphics in the mid-70s. It stands for BLock Transfer and was
            	usually part of a slightly longer term: "bit blit" (which is kind of fun to say).
            </li>
            <li>
                <code class="prettyprint lang-py">displaysurface.blit(drawsurface, (0,0))</code> copies the 
                semi-transparent drawing surface on to the window surface, such that its upper left hand corner will
                be at (0,0) on the screen.
            </li> 
            <li>
                Most of the remaining lines are similar, but for drawing circles. The BLUE circle example illustrates
                using a smaller surface for drawing.
            </li>
            <li>
                <code class="prettyprint lang-py">pygame.time.wait(10)</code> forces your program to wait for 
                10 milliseconds before continuing. This line isn't absolutely necessary, but gives other programs
                running on your computer a chance to run.
            </li>
        </ul>
        <p>
            Although this example displays a <em>static</em> scene where nothing moves, it is actually drawing and
            erasing the same scene over and over again, as fast as it can (except for the 10 millisecond breather).
            Again, you should copy and run this code on your own and experiment with changing various values.
        </p>
        <p>
            Consult the Pygame documentation and try your hand at drawing other kinds of shapes, such
            as ellipses and polygons.
        </p>
{% endblock %}